:root {
	/* Colors */

	--clr-primary-red-desaturated: hsl(0, 36%, 70%);
	--clr-primary-red-soft: hsl(0, 93%, 68%);

	--clr-neutral-red: hsl(0, 6%, 24%);

	--gradient-white: linear-gradient(
		135deg,
		hsl(0, 0%, 100%),
		hsl(0, 100%, 98%)
	);
	--gradient-red: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

	/* Typography */
	--ff-primary: 'Josefin Sans', sans-serif;

	--fw-normal: 600;
	--fw-light: 400;
	--fw-lighter: 300;
}

/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* general styling */

body {
	font-family: var(--ff-primary);
	background-image: var(--gradient-white);
	background-repeat: repeat;
	background-position: top;
	background-size: cover;
	height: 100vh;
}

.base__header {
	padding: 1.8rem 1.6rem;
}

.base__logo {
	height: 1.5rem;
}

.base__hero {
	margin-top: 3rem;
	text-align: center;
}

.hero__title {
	font-weight: var(--fw-normal);
	font-size: 2.4rem;
	color: var(--clr-neutral-red);
	letter-spacing: 8px;
	line-height: 3rem;
	padding-inline: 2rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.hero__title span {
	color: var(--clr-primary-red-desaturated);
	font-weight: var(--fw-lighter);
}

.hero__text {
	color: var(--clr-primary-red-desaturated);
	padding-inline: 1.5rem;
	font-weight: var(--fw-light);
	margin-bottom: 2.2rem;
	font-size: 0.9rem;
}

.base__form {
	padding-inline: 1.6rem;
}

.base__input {
	border-radius: 30px;
	border: 1.9px solid var(--clr-primary-red-desaturated);
	padding: 0.7rem 1rem 0.7rem;
	width: 90%;
	color: var(--clr-primary-red-desaturated);
	font-weight: var(--fw-light);
	font-size: 0.9rem;
}

.base__btn {
	background-image: url('images/icon-arrow.svg'), var(--gradient-red);
	background-repeat: no-repeat, no-repeat;
	background-position: center, center;
	background-size: 0.9rem, cover;
	padding: 1.45rem;
	width: 4rem;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 2.2rem;
	box-shadow: 12px 18px 34px -4px rgba(222, 189, 201, 1);
}

@media (min-width: 1440px) {
	.base {
		display: grid;
		grid-template-columns: 55% 45%;
	}

	.base__background-img {
		grid-column: 2;
		margin-left: 2.35rem;
	}

	.base__header {
		grid-column: 1;
		grid-row: 1;
		padding: 3rem 1.6rem;
		margin-left: 6rem;
	}

	.base__logo {
		margin-top: 1rem;
		height: 2rem;
	}

	.base__hero {
		grid-column: 1;
		grid-row: 1;
		margin-top: 14rem;
	}

	.hero__title {
		margin-left: 5.6rem;
		text-align: left;
		text-transform: uppercase;
		padding-right: 18rem;
		margin-bottom: 1rem;
		font-size: 4rem;
		line-height: 4.5rem;
		letter-spacing: 13px;
	}

	.hero__text {
		padding-inline: 1.5rem;
		font-size: 1rem;
		margin-left: 6.2rem;
		padding-right: 15rem;
		text-align: left;
	}

	.base__form {
		grid-column: 1;
		grid-row: 1;
		margin-top: 35rem;
	}

	.base__input {
		padding: 0.9rem 1rem 0.9rem;
		width: 59%;
		margin-left: 6rem;
	}

	.base__btn {
		background-image: url('images/icon-arrow.svg'), var(--gradient-red);
		background-repeat: no-repeat, no-repeat;
		background-position: center, center;
		background-size: 0.9rem, cover;
		padding: 1.65rem;
		width: 5.5rem;
		border-radius: 30px;
		cursor: pointer;
		position: absolute;
		right: 53.6rem;
		top: 35rem;
		box-shadow: 12px 18px 34px -4px rgba(222, 189, 201, 1);
	}
}
